doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styleP.css")
    body 
        div(class="header")
            h1 Perfil
            p Sou um aluno 

        div(class="about")
            h2 Sobre mim 
            p sou legal

        div(class="detalhes")      
            h2 Detalhes
            span(class="negrito") Nome: 
                p Lucas 
            span(class="negrito") Email: 
                p email@gmail.com  
            span(class="negrito") Senha: 
                p banana123      

        div(class="cabeca")
            img(src="/ico_facebook.png", alt="facebook" width="20px")
            img(src="/ico_insta.png", alt="insta" width="20px")
            img(src="/ico_twitter.png", alt="twitter" width="20px")


        a(href="/")  inicio 